<div id="fh5co-features" data-section="skills">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="single-animate animate-features-1 en-lang">Skills</h2>
        <h2 class="single-animate animate-features-1 ru-lang">Навыки</h2>
      </div>
    </div>
    <div class="row row-bottom-padded-sm">
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>Android</h3>
          <p class="en-lang">Develop my own app SlaSol:
            <a href="https://play.google.com/store/apps/details?id=com.komdosh.slasol" class="btn btn-primary btn-sm">Google
              Play</a>
          </p>
          <p class="ru-lang">Разработал собственное приложение SlaSol:<br/>
            <a href="https://play.google.com/store/apps/details?id=com.komdosh.slasol" class="btn btn-primary btn-sm">Google
              Play</a>
          </p>
          <p class="en-lang">Participated in development of new social app Travellante</p>
          <p class="ru-lang">Участвал в разработке социального приложения Travellante</p>
          <p class="en-lang">Develop small apps just for fun</p>
          <p class="ru-lang">Разрабатываю небольшие приложения просто ради развлечения</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>SQL</h3>
          <p class="en-lang">Working with PostgreSQL, MySQL, SQLite</p>
          <p class="ru-lang">Работаю PostgreSQL, MySQL, SQLite</p>
        </div>
      </div>
      <div class="clearfix visible-sm-block visible-xs-block"></div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>Spring</h3>
          <p class="en-lang">Java Spring Framework. Deal with it at work. Also know additional stuff like Spring
            Security and others</p>
          <p class="ru-lang">Java Spring Framework. Имею с ним дело на работе</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>REST</h3>
          <p class="en-lang">Wrote some REST based servers</p>
          <p class="ru-lang">Написал несколько серверов с использованием REST</p>
        </div>
      </div>
      <div class="clearfix visible-sm-block visible-xs-block"></div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>HTML+CSS</h3>
          <p class="en-lang">As you can see this site is a result of my skill</p>
          <p class="ru-lang">Данный сайт должен всё рассказать об этом навыке</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>Git</h3>
          <p class="en-lang">As you can see this site on Github, so I know what is checkout, clone, pull, push and so
            on</p>
          <p class="ru-lang">Как вы могли заметить, этот сайт размещён на Github, так что я знаю что такое checkout,
            clone, pull, push и т.д.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>IDE</h3>
          <p class="en-lang">Use Intellij IDEA, Android Studio, Visual Studio, Dev-Cpp, Clion and know many others</p>
          <p class="ru-lang">Использую Intellij IDEA, Android Studio, Visual Studio, Dev-Cpp, Clion и также пользовался
            многими другими</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3 class="en-lang">Operating Systems</h3>
          <h3 class="ru-lang">Операционные системы</h3>
          <p class="en-lang">Use Ubuntu Linux, sometimes use another dists like Gentoo, Kali, Debian and so on<br/>Worked
            with Windows a lot</p>
          <p class="ru-lang">Использую Ubuntu Linux, пользовался и другими дистрибутивами такими как Gentoo, Kali,
            Debian<br/>Очень долго пользовался Windows</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>CI</h3>
          <p class="en-lang">Setup and worked with Jenkins and TeamCity</p>
          <p class="ru-lang">Настраивал и работал с Jenkins и TeamCity</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3 class="en-lang">Agile</h3>
          <h3 class="ru-lang">Гибкая методология разработки</h3>
          <p class="en-lang">I know what is Scrum, Kanban, because have a deal with it</p>
          <p class="ru-lang">Знаю что такое Scrum, Kanban, потому что уже работал по этим принципам</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3 class="en-lang">Other stuff</h3>
          <h3 class="ru-lang">Прочие</h3>
          <p class="en-lang">Configure and worked with: Sonar qube, Jetty, Tomcat, Docker, Heroku, Apache POI</p>
          <p class="ru-lang">Конфигурировал и работал с: Sonar qube, Jetty, Tomcat, Docker, Heroku, Apache POI</p>
        </div>
      </div>
      <div class="clearfix visible-sm-block visible-xs-block"></div>
    </div>
  </div>
</div>
