<div id="fh5co-press" data-section="experience">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="single-animate animate-press-1 en-lang">Experience</h2>
        <h2 class="single-animate animate-press-1 ru-lang">Опыт</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!-- Item -->
        <div class="fh5co-press-item to-animate">
          <div class="fh5co-press-text">
            <h3 class="h2 fh5co-press-title">Siemens<span class="fh5co-border"></span></h3>
            <ul>
              <li style="white-space: nowrap" class="en-lang">Position: Intern Software Developer</li>
              <li style="white-space: nowrap" class="en-lang">Since: July 2016</li>
              <li style="white-space: nowrap" class="en-lang">Until: July 2017</li>
            </ul>
            <p class="en-lang">Responsibility:
            <p class="ru-lang">Обязанности:
            <ul class="en-lang">
              <li>Research techonolgies, methods of implementation and so on</li>
              <li>Java, Javascript, Python</li>
              <li>Application architecture</li>
              <li>Database architecture</li>
              <li>DevOps</li>
            </ul>
            <ul class="ru-lang">
              <li>Исследование технологий, методов разработки и т.д.</li>
              <li>Java, Javascript, Python</li>
              <li>Архитектура приложений</li>
              <li>Архитектура баз данных</li>
              <li>DevOps</li>
            </ul>
            <p><a href="https://www.siemens.com" class="btn btn-primary btn-sm en-lang">Web site</a></p>
            <p><a href="https://www.siemens.com" class="btn btn-primary btn-sm ru-lang">Сайт</a></p>
          </div>
        </div>
        <!-- Item -->
      </div>
      <div class="col-md-6">
        <!-- Item -->
        <div class="fh5co-press-item to-animate">
          <div class="fh5co-press-text">
            <h3 class="h2 fh5co-press-title">Biarum<span class="fh5co-border"></span></h3>
            <ul>
              <li style="white-space: nowrap" class="en-lang">Position: Full-Stack Developer</li>
              <li style="white-space: nowrap" class="en-lang">Since: July 2017</li>
              <li style="white-space: nowrap" class="en-lang">Until: Now</li>
            </ul>
            <p class="en-lang">Responsibility:
            <p class="ru-lang">Обязанности:
            <ul class="en-lang">
              <li>Web development: Angular 4, Spring, PostgreSQL</li>
              <li>Apache POI for reports automation</li>
              <li>Map processing: shapefile, kml\kmz</li>
            </ul>
            <ul class="ru-lang">
              <li>Web разработка: Angular 4, Spring, PostgreSQL</li>
              <li>Apache POI для автоматизации отчётов</li>
              <li>Обработка карт: shapefile, kml\kmz</li>
            </ul>
            <p><a href="http://www.biarum.com" class="btn btn-primary btn-sm en-lang">Web site</a></p>
            <p><a href="http://www.biarum.com" class="btn btn-primary btn-sm ru-lang">Сайт</a></p>
          </div>
        </div>
        <!-- Item -->
      </div>
    </div>
  </div>
</div>
