<div id="fh5co-our-services" data-section="programming">
  <div class="container">
    <div class="row row-bottom-padded-sm">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate en-lang">Programming languages</h2>
        <h2 class="to-animate ru-lang">Языки программирования</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box to-animate">
          <div class="icon colored-1"><span style="color:white; font-size: 24pt;">Java</span></div>
          <h3 class="en-lang">Since 2014<br/>Harder since April 2016</h3>
          <h3 class="ru-lang">C 2014<br/>Усерднее с апреля 2016</h3>
          <p class="en-lang">Main language for now. I deal with it in my work and write some apps for Android</p>
          <p class="ru-lang">Пишу на нём на работе, а также разрабатываю приложения под Android</p>
        </div>
        <div class="box to-animate">
          <div class="icon colored-2"><span style="color:white; font-size: 24pt;">C++</span></div>
          <h3 class="en-lang">Since September 2015</h3>
          <h3 class="ru-lang">С сентября 2015</h3>
          <p class="en-lang">I write on this language about one year for studying, I really like this language</p>
          <p class="ru-lang">Использовался больше для учёбы, но в целом понравился больше всего</p>
        </div>
        <div class="box to-animate">
          <div class="icon colored-3"><span style="color:white; font-size: 14pt;">Assembler</span></div>
          <h3 class="en-lang">Since January 2016</h3>
          <h3 class="ru-lang">С Января 2016</h3>
          <p class="en-lang">Wrote a few simple programms. It's useful for understanding, how does programs work
            inside</p>
          <p class="ru-lang">Написал несколько простых программ. Полезный опыт, чтобы понять, как программы работают
            изнутри</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box to-animate">
          <div class="icon colored-3"><span style="color:white; font-size: 24pt;">C</span></div>
          <h3 class="en-lang">Since September 2014</h3>
          <h3 class="ru-lang">С сентября 2014</h3>
          <p class="en-lang">Began to learning this language with my University courses. I wrote a project similar with
            database and control system on it</p>
          <p class="ru-lang">С него началось моё обучение в ВУЗе, довольно не плохо его освоил</p>
        </div>
        <div class="box to-animate">
          <div class="icon colored-4"><span style="color:white; font-size: 24pt;">JS</span></div>
          <h3 class="en-lang">Since 2009<br/>Harder since June 2016</h3>
          <h3 class="ru-lang">С 2009<br/>Усерднее с июня 2016</h3>
          <p class="en-lang">The one of my first programming languges. Start with writing simple scripts for sites, now
            I deal with it in my work</p>
          <p class="ru-lang">Один из первых языков, которые я освоил. Начал с написания простых скриптов для своих
            сайтов. Сейчас имею с ним дело на работе</p>
        </div>
        <div class="box to-animate">
          <div class="icon colored-2"><span style="color:white; font-size: 24pt;">C#</span></div>
          <h3 class="en-lang">Since September 2014</h3>
          <h3 class="ru-lang">С Сентября 2014</h3>
          <p class="en-lang">Experience at the moment is small enough. The implementation of the basic data structures
            and algorithms on graphs</p>
          <p class="ru-lang">Опыт на данный момент небольшой. Реализация основных структур данных и алгоритмов на
            графах</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box to-animate">
          <div class="icon colored-1"><span style="color:white; font-size: 24pt;">Kotlin</span></div>
          <h3 class="en-lang">Since March 2017</h3>
          <h3 class="ru-lang">С Марта 2017</h3>
          <p class="en-lang">Start lerning for writing Android apps not only in Java</p>
          <p class="ru-lang">Начал изучать для написания приложений под Android не только на Java</p>
        </div>
        <div class="box to-animate">
          <div class="icon colored-5"><span style="color:white; font-size: 18pt;">Phyton</span></div>
          <h3 class="en-lang">Since February 2016</h3>
          <h3 class="ru-lang">С февраля 2016</h3>
          <p class="en-lang">Want to learn something unusal language. Now I could write a simple programms on it</p>
          <p class="ru-lang">Хотелось научиться языку, который не похож на C</p>
        </div>
        <div class="box to-animate">
          <div class="icon colored-6"><span style="color:white; font-size: 24pt;">PHP</span></div>
          <h3 class="en-lang">Since 2009</h3>
          <h3 class="ru-lang">С 2009</h3>
          <p class="en-lang">Wrote some web-sites on this language</p>
          <p class="ru-lang">Написал на нём штук десять разнообразных сайтов</p>
        </div>
      </div>
    </div>
  </div>
</div>
