<header role="banner" id="fh5co-header" class="navbar-fixed-top fh5co-animated slideInDown">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <!-- Mobile Toggle Menu Button -->
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar"
           aria-expanded="false" aria-controls="navbar"><i></i></a>
        <a class="navbar-brand" href="/">Komdosh</a>
      </div>
      <div id="navbar" class="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li *ngFor="let item of menu"><a href="#" [attr.data-nav-section]="item.navSection"><span>{{item.name[language]}}</span></a>
          </li>
          <li style="cursor: pointer; padding: 23px 0" (click)="changeLanguage()"><i
            [class]="'flag-icon '+flagIconsClasses[language]"></i></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
