<header role="banner" id="fh5co-header">
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <!-- Mobile Toggle Menu Button -->
        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar"
           aria-expanded="false" aria-controls="navbar"><i></i></a>
        <a class="navbar-brand" href="/">Komdosh</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#" data-nav-section="home"><span class="en-lang">Projects</span><span
            class="ru-lang">Проекты</span></a></li>
          <li><a href="#" data-nav-section="about"><span class="en-lang">Person</span><span
            class="ru-lang">Обо мне</span></a></li>
          <li><a href="#" data-nav-section="education"><span class="en-lang">Education</span><span class="ru-lang">Образование</span></a>
          </li>
          <li><a href="#" data-nav-section="services"><span class="en-lang">Programming</span><span class="ru-lang">Программирование</span></a>
          </li>
          <li><a href="#" data-nav-section="skills"><span class="en-lang">Skills</span><span
            class="ru-lang">Навыки</span></a></li>
          <li><a href="#" data-nav-section="experience"><span class="en-lang">Experience</span><span class="ru-lang">Опыт</span></a>
          </li>
          <li><a style="cursor: pointer" id="ru-lang"><i class="flag-icon flag-icon-ru"></i></a></li>
          <li><a style="cursor: pointer" id="en-lang" class="hide-view"><i class="flag-icon flag-icon-gb"></i></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
