<div id="slider" data-section="home">
  <div class="owl-carousel owl-carousel-fullwidth">
    <div class="item" *ngFor="let project of projects" [ngStyle]="project.style">
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate">{{project.name[language]}}</h1>
                <h2 class="fh5co-sub-lead to-animate">{{project.description[language]}}</h2>
                <h3 class="fh5co-sub-lead to-animate" *ngIf="project.role!=null">{{project.role[language]}}</h3>
                <p class="to-animate-2">
                  <a [href]="project.link" class="btn btn-primary btn-lg" target="_blank">
                    {{project.buttonTitle}}</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 android-image">
            <div class="android to-animate-2"><img [src]="project.imgUrl" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="item" [ngStyle]="githubRepositories.style">
      <div class="overlay"></div>
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate">{{githubRepositories.name[language]}}</h1>
                <h2 class="fh5co-sub-lead to-animate">{{githubRepositories.description[language]}}</h2>
                <p class="to-animate-2">
                  <a [href]="githubRepositories.link" class="btn btn-primary btn-lg" target="_blank">
                    {{githubRepositories.buttonTitle}}
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
