<footer id="footer" role="contentinfo">
  <div class="container">
    <div class="row row-bottom-padded-sm">
      <div class="col-md-12">
        <p class="copyright text-center">
          {{email}}
        </p>
        <p class="copyright text-center">
          {{phone}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="social social-circle">
          <li *ngFor="let ltc of linksToConnect">
            <a [href]="ltc.link"><i [class]="ltc.iconClass"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
