<div id="fh5co-about-us" data-section="about">
  <div class="container">
    <div class="row" id="team">
      <div class="col-md-12 section-heading text-center to-animate">
        <h2 class="en-lang">Personal Info</h2>
        <h2 class="ru-lang">Персональная информация</h2>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 text-center to-animate">
          <div class="person">
            <img src="assets/images/face.png" class="img-responsive img-rounded" alt="Person">
            <h3 class="name en-lang">Tabakov Andrey</h3>
            <h3 class="name ru-lang">Табаков Андрей Викторович</h3>
            <div class="position">Full-Stack Developer</div>
            <p class="en-lang">Born May 12, 1996 in Saint-Petersburg, Russia<br/>
              My interests is programming, studying, self-development, guitar playing, walking</p>
            <p class="ru-lang">Родился 12 мая 1996 года в Санкт-Петербурге.<br/>
              Мои интересы: Программирование, обучение, личное развитие, игра на гитаре и прогулки на свежем воздухе</p>
            <ul class="social social-circle">
              <li><a href="https://vk.com/komdosh"><i class="icon-vk"></i></a></li>
              <li><a href="https://www.facebook.com/komdosh"><i class="icon-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/komdosh"><i class="icon-linkedin"></i></a></li>
              <li><a href="https://github.com/Komdosh"><i class="icon-github"></i></a></li>
              <li><a href="https://ru.stackoverflow.com/users/184435/komdosh"><i class="fa fa-stack-overflow"></i></a>
              </li>
              <li><a href="https://t.me/Komdosh"><i class="fa fa-telegram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
