<div id="fh5co-about-us" data-section="about">
  <div class="container">
    <div class="row" id="team">
      <div class="col-md-12 section-heading text-center to-animate">
        <h2>{{sectionName[language]}}</h2>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 text-center to-animate">
          <div class="person">
            <img src="assets/images/face.png" class="img-responsive img-rounded" alt="Person">
            <h3 class="name">{{name[language]}}</h3>
            <div class="position">{{position}}</div>
            <p>{{aboutFirstPart[language]}}<br/>{{aboutSecondPart[language]}}</p>
            <app-social></app-social>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
