<app-header></app-header>

<div id="slider" data-section="home">
  <div class="owl-carousel owl-carousel-fullwidth">
    <div class="item" style="background: #352f44;">
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate en-lang">SlaSol &mdash; Android game app</h1>
                <h1 class="fh5co-lead to-animate ru-lang">SlaSol &mdash; Android приложение</h1>
                <h2 class="fh5co-sub-lead to-animate en-lang">Try to think in colors</h2>
                <h2 class="fh5co-sub-lead to-animate ru-lang">Попробуйте мыслить цветами</h2>
                <h3 class="fh5co-sub-lead to-animate en-lang">Role: Developer</h3>
                <h3 class="fh5co-sub-lead to-animate ru-lang">Роль: Разработчик</h3>
                <p class="to-animate-2"><a href="https://play.google.com/store/apps/details?id=com.komdosh.slasol"
                                           class="btn btn-primary btn-lg">Google Play</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 android-image">
            <div class="android to-animate-2"><img src="assets/images/SlaSol.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background: #78909C;">
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate en-lang">SafetyStreets &mdash; Android app</h1>
                <h1 class="fh5co-lead to-animate ru-lang">SafetyStreets &mdash; Android приложение</h1>
                <h2 class="fh5co-sub-lead to-animate en-lang">Are the streets safe?</h2>
                <h2 class="fh5co-sub-lead to-animate ru-lang">Безопасны ли улицы?</h2>
                <h3 class="fh5co-sub-lead to-animate en-lang">Role: Android Developer</h3>
                <h3 class="fh5co-sub-lead to-animate ru-lang">Роль: Android разработчик</h3>
                <p class="to-animate-2"><a href="https://github.com/BlueSkyThinking/SafetyStreetsAndroid"
                                           class="btn btn-primary btn-lg">Github</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 android-image">
            <div class="android to-animate-2"><img src="assets/images/SafetyStreets.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background: #9E9D24;">
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-7 col-sm-7">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate en-lang">Eltechat &mdash; Android app</h1>
                <h1 class="fh5co-lead to-animate ru-lang">Eltechat &mdash; Android приложение</h1>
                <h2 class="fh5co-sub-lead to-animate en-lang">Group chat for Saint-Petersburg Electrotechnical
                  University</h2>
                <h2 class="fh5co-sub-lead to-animate ru-lang">Групповой чат для Санкт-Петербургского Государственного
                  электротехнического университета "ЛЭТИ"</h2>
                <h3 class="fh5co-sub-lead to-animate en-lang">Role: Android Developer</h3>
                <h3 class="fh5co-sub-lead to-animate ru-lang">Роль: Android разработчик</h3>
                <p class="to-animate-2"><a href="https://github.com/Komdosh/AndroidEltechatApp"
                                           class="btn btn-primary btn-lg">Github</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-push-1 col-sm-4 col-sm-push-1 android-image">
            <div class="android to-animate-2"><img src="assets/images/eltechat.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
    <div class="item" style="background-image:url('assets/images/slide_5.jpg')">
      <div class="overlay"></div>
      <div class="container" style="position: relative;">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <div class="fh5co-owl-text-wrap">
              <div class="fh5co-owl-text">
                <h1 class="fh5co-lead to-animate en-lang">Github repositories!</h1>
                <h1 class="fh5co-lead to-animate ru-lang">Github репозитории!</h1>
                <h2 class="fh5co-sub-lead to-animate en-lang">Checkout other interesting code</h2>
                <h2 class="fh5co-sub-lead to-animate ru-lang">Прочие проекты</h2>
                <p class="to-animate-2"><a href="https://github.com/Komdosh?tab=repositories" target="_blank"
                                           class="btn btn-primary btn-lg">Github</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="fh5co-about-us" data-section="about">
  <div class="container">
    <div class="row" id="team">
      <div class="col-md-12 section-heading text-center to-animate">
        <h2 class="en-lang">Personal Info</h2>
        <h2 class="ru-lang">Персональная информация</h2>
      </div>
      <div class="col-md-12">
        <div class="col-md-12 text-center to-animate">
          <div class="person">
            <img src="assets/images/face.png" class="img-responsive img-rounded" alt="Person">
            <h3 class="name en-lang">Tabakov Andrey</h3>
            <h3 class="name ru-lang">Табаков Андрей Викторович</h3>
            <div class="position">Full-Stack Developer</div>
            <p class="en-lang">Born May 12, 1996 in Saint-Petersburg, Russia<br/>
              My interests is programming, studying, self-development, guitar playing, walking</p>
            <p class="ru-lang">Родился 12 мая 1996 года в Санкт-Петербурге.<br/>
              Мои интересы: Программирование, обучение, личное развитие, игра на гитаре и прогулки на свежем воздухе</p>
            <ul class="social social-circle">
              <li><a href="https://vk.com/komdosh"><i class="icon-vk"></i></a></li>
              <li><a href="https://www.facebook.com/komdosh"><i class="icon-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/in/komdosh"><i class="icon-linkedin"></i></a></li>
              <li><a href="https://github.com/Komdosh"><i class="icon-github"></i></a></li>
              <li><a href="https://ru.stackoverflow.com/users/184435/komdosh"><i class="fa fa-stack-overflow"></i></a>
              </li>
              <li><a href="https://t.me/Komdosh"><i class="fa fa-telegram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-testimonials" data-section="education">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate en-lang">Education</h2>
        <h2 class="to-animate ru-lang">Образование</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="box-testimony to-animate">
          <blockquote>
            <span class="quote"><span><i class="fa fa-graduation-cap"></i></span></span>
            <ul class="en-lang">
              <li>Faculty of Computer Science and Technology</li>
              <li>Department of Computer Science and Engineering</li>
              <li>Course: 4</li>
              <li>Group: 4306</li>
            </ul>
            <ul class="ru-lang">
              <li>Факультет компьютерных технологий и информатики</li>
              <li>Кафедра вычислительной техники</li>
              <li>Курс: 4</li>
              <li>Группа: 4306</li>
            </ul>
            <p><a href="http://eltech.ru" class="btn btn-primary btn-sm en-lang" style="color:white">Web site</a></p>
            <p><a href="http://eltech.ru" class="btn btn-primary btn-sm ru-lang" style="color:white">Сайт</a></p>
          </blockquote>
          <p class="author en-lang">Saint-Petersburg Electrotechnical University "LETI"<br/>Bachelor Degree</p>
          <p class="author ru-lang">Санкт-Петербургский Государственный<br/>Электротехнический Университет "ЛЭТИ"<br/>Бакалавр
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-our-services" data-section="services">
  <div class="container">
    <div class="row row-bottom-padded-sm">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate en-lang">Programming languages</h2>
        <h2 class="to-animate ru-lang">Языки программирования</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="box to-animate">
          <div class="icon colored-1"><span style="color:white; font-size: 24pt;">Java</span></div>
          <h3 class="en-lang">Since 2014<br/>Harder since April 2016</h3>
          <h3 class="ru-lang">C 2014<br/>Усерднее с апреля 2016</h3>
          <p class="en-lang">Main language for now. I deal with it in my work and write some apps for Android</p>
          <p class="ru-lang">Пишу на нём на работе, а также разрабатываю приложения под Android</p>
        </div>
        <div class="box to-animate">
          <div class="icon colored-2"><span style="color:white; font-size: 24pt;">C++</span></div>
          <h3 class="en-lang">Since September 2015</h3>
          <h3 class="ru-lang">С сентября 2015</h3>
          <p class="en-lang">I write on this language about one year for studying, I really like this language</p>
          <p class="ru-lang">Использовался больше для учёбы, но в целом понравился больше всего</p>
        </div>
        <div class="box to-animate">
          <div class="icon colored-3"><span style="color:white; font-size: 14pt;">Assembler</span></div>
          <h3 class="en-lang">Since January 2016</h3>
          <h3 class="ru-lang">С Января 2016</h3>
          <p class="en-lang">Wrote a few simple programms. It's useful for understanding, how does programs work
            inside</p>
          <p class="ru-lang">Написал несколько простых программ. Полезный опыт, чтобы понять, как программы работают
            изнутри</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box to-animate">
          <div class="icon colored-3"><span style="color:white; font-size: 24pt;">C</span></div>
          <h3 class="en-lang">Since September 2014</h3>
          <h3 class="ru-lang">С сентября 2014</h3>
          <p class="en-lang">Began to learning this language with my University courses. I wrote a project similar with
            database and control system on it</p>
          <p class="ru-lang">С него началось моё обучение в ВУЗе, довольно не плохо его освоил</p>
        </div>
        <div class="box to-animate">
          <div class="icon colored-4"><span style="color:white; font-size: 24pt;">JS</span></div>
          <h3 class="en-lang">Since 2009<br/>Harder since June 2016</h3>
          <h3 class="ru-lang">С 2009<br/>Усерднее с июня 2016</h3>
          <p class="en-lang">The one of my first programming languges. Start with writing simple scripts for sites, now
            I deal with it in my work</p>
          <p class="ru-lang">Один из первых языков, которые я освоил. Начал с написания простых скриптов для своих
            сайтов. Сейчас имею с ним дело на работе</p>
        </div>
        <div class="box to-animate">
          <div class="icon colored-2"><span style="color:white; font-size: 24pt;">C#</span></div>
          <h3 class="en-lang">Since September 2014</h3>
          <h3 class="ru-lang">С Сентября 2014</h3>
          <p class="en-lang">Experience at the moment is small enough. The implementation of the basic data structures
            and algorithms on graphs</p>
          <p class="ru-lang">Опыт на данный момент небольшой. Реализация основных структур данных и алгоритмов на
            графах</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box to-animate">
          <div class="icon colored-1"><span style="color:white; font-size: 24pt;">Kotlin</span></div>
          <h3 class="en-lang">Since March 2017</h3>
          <h3 class="ru-lang">С Марта 2017</h3>
          <p class="en-lang">Start lerning for writing Android apps not only in Java</p>
          <p class="ru-lang">Начал изучать для написания приложений под Android не только на Java</p>
        </div>
        <div class="box to-animate">
          <div class="icon colored-5"><span style="color:white; font-size: 18pt;">Phyton</span></div>
          <h3 class="en-lang">Since February 2016</h3>
          <h3 class="ru-lang">С февраля 2016</h3>
          <p class="en-lang">Want to learn something unusal language. Now I could write a simple programms on it</p>
          <p class="ru-lang">Хотелось научиться языку, который не похож на C</p>
        </div>
        <div class="box to-animate">
          <div class="icon colored-6"><span style="color:white; font-size: 24pt;">PHP</span></div>
          <h3 class="en-lang">Since 2009</h3>
          <h3 class="ru-lang">С 2009</h3>
          <p class="en-lang">Wrote some web-sites on this language</p>
          <p class="ru-lang">Написал на нём штук десять разнообразных сайтов</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fh5co-features" data-section="skills">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="single-animate animate-features-1 en-lang">Skills</h2>
        <h2 class="single-animate animate-features-1 ru-lang">Навыки</h2>
      </div>
    </div>
    <div class="row row-bottom-padded-sm">
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>Android</h3>
          <p class="en-lang">Develop my own app SlaSol:
            <a href="https://play.google.com/store/apps/details?id=com.komdosh.slasol" class="btn btn-primary btn-sm">Google
              Play</a>
          </p>
          <p class="ru-lang">Разработал собственное приложение SlaSol:<br/>
            <a href="https://play.google.com/store/apps/details?id=com.komdosh.slasol" class="btn btn-primary btn-sm">Google
              Play</a>
          </p>
          <p class="en-lang">Participated in development of new social app Travellante</p>
          <p class="ru-lang">Участвал в разработке социального приложения Travellante</p>
          <p class="en-lang">Develop small apps just for fun</p>
          <p class="ru-lang">Разрабатываю небольшие приложения просто ради развлечения</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>SQL</h3>
          <p class="en-lang">Working with PostgreSQL, MySQL, SQLite</p>
          <p class="ru-lang">Работаю PostgreSQL, MySQL, SQLite</p>
        </div>
      </div>
      <div class="clearfix visible-sm-block visible-xs-block"></div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>Spring</h3>
          <p class="en-lang">Java Spring Framework. Deal with it at work. Also know additional stuff like Spring
            Security and others</p>
          <p class="ru-lang">Java Spring Framework. Имею с ним дело на работе</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>REST</h3>
          <p class="en-lang">Wrote some REST based servers</p>
          <p class="ru-lang">Написал несколько серверов с использованием REST</p>
        </div>
      </div>
      <div class="clearfix visible-sm-block visible-xs-block"></div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>HTML+CSS</h3>
          <p class="en-lang">As you can see this site is a result of my skill</p>
          <p class="ru-lang">Данный сайт должен всё рассказать об этом навыке</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>Git</h3>
          <p class="en-lang">As you can see this site on Github, so I know what is checkout, clone, pull, push and so
            on</p>
          <p class="ru-lang">Как вы могли заметить, этот сайт размещён на Github, так что я знаю что такое checkout,
            clone, pull, push и т.д.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>IDE</h3>
          <p class="en-lang">Use Intellij IDEA, Android Studio, Visual Studio, Dev-Cpp, Clion and know many others</p>
          <p class="ru-lang">Использую Intellij IDEA, Android Studio, Visual Studio, Dev-Cpp, Clion и также пользовался
            многими другими</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3 class="en-lang">Operating Systems</h3>
          <h3 class="ru-lang">Операционные системы</h3>
          <p class="en-lang">Use Ubuntu Linux, sometimes use another dists like Gentoo, Kali, Debian and so on<br/>Worked
            with Windows a lot</p>
          <p class="ru-lang">Использую Ubuntu Linux, пользовался и другими дистрибутивами такими как Gentoo, Kali,
            Debian<br/>Очень долго пользовался Windows</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3>CI</h3>
          <p class="en-lang">Setup and worked with Jenkins and TeamCity</p>
          <p class="ru-lang">Настраивал и работал с Jenkins и TeamCity</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3 class="en-lang">Agile</h3>
          <h3 class="ru-lang">Гибкая методология разработки</h3>
          <p class="en-lang">I know what is Scrum, Kanban, because have a deal with it</p>
          <p class="ru-lang">Знаю что такое Scrum, Kanban, потому что уже работал по этим принципам</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service to-animate">
        <div class="fh5co-icon"></div>
        <div class="fh5co-desc">
          <h3 class="en-lang">Other stuff</h3>
          <h3 class="ru-lang">Прочие</h3>
          <p class="en-lang">Configure and worked with: Sonar qube, Jetty, Tomcat, Docker, Heroku, Apache POI</p>
          <p class="ru-lang">Конфигурировал и работал с: Sonar qube, Jetty, Tomcat, Docker, Heroku, Apache POI</p>
        </div>
      </div>
      <div class="clearfix visible-sm-block visible-xs-block"></div>
    </div>
  </div>
</div>

<div id="fh5co-press" data-section="experience">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="single-animate animate-press-1 en-lang">Experience</h2>
        <h2 class="single-animate animate-press-1 ru-lang">Опыт</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <!-- Item -->
        <div class="fh5co-press-item to-animate">
          <div class="fh5co-press-text">
            <h3 class="h2 fh5co-press-title">Siemens<span class="fh5co-border"></span></h3>
            <ul>
              <li style="white-space: nowrap" class="en-lang">Position: Intern Software Developer</li>
              <li style="white-space: nowrap" class="en-lang">Since: July 2016</li>
              <li style="white-space: nowrap" class="en-lang">Until: July 2017</li>
            </ul>
            <p class="en-lang">Responsibility:
            <p class="ru-lang">Обязанности:
            <ul class="en-lang">
              <li>Research techonolgies, methods of implementation and so on</li>
              <li>Java, Javascript, Python</li>
              <li>Application architecture</li>
              <li>Database architecture</li>
              <li>DevOps</li>
            </ul>
            <ul class="ru-lang">
              <li>Исследование технологий, методов разработки и т.д.</li>
              <li>Java, Javascript, Python</li>
              <li>Архитектура приложений</li>
              <li>Архитектура баз данных</li>
              <li>DevOps</li>
            </ul>
            <p><a href="https://www.siemens.com" class="btn btn-primary btn-sm en-lang">Web site</a></p>
            <p><a href="https://www.siemens.com" class="btn btn-primary btn-sm ru-lang">Сайт</a></p>
          </div>
        </div>
        <!-- Item -->
      </div>
      <div class="col-md-6">
        <!-- Item -->
        <div class="fh5co-press-item to-animate">
          <div class="fh5co-press-text">
            <h3 class="h2 fh5co-press-title">Biarum<span class="fh5co-border"></span></h3>
            <ul>
              <li style="white-space: nowrap" class="en-lang">Position: Full-Stack Developer</li>
              <li style="white-space: nowrap" class="en-lang">Since: July 2017</li>
              <li style="white-space: nowrap" class="en-lang">Until: Now</li>
            </ul>
            <p class="en-lang">Responsibility:
            <p class="ru-lang">Обязанности:
            <ul class="en-lang">
              <li>Web development: Angular 4, Spring, PostgreSQL</li>
              <li>Apache POI for reports automation</li>
              <li>Map processing: shapefile, kml\kmz</li>
            </ul>
            <ul class="ru-lang">
              <li>Web разработка: Angular 4, Spring, PostgreSQL</li>
              <li>Apache POI для автоматизации отчётов</li>
              <li>Обработка карт: shapefile, kml\kmz</li>
            </ul>
            <p><a href="http://www.biarum.com" class="btn btn-primary btn-sm en-lang">Web site</a></p>
            <p><a href="http://www.biarum.com" class="btn btn-primary btn-sm ru-lang">Сайт</a></p>
          </div>
        </div>
        <!-- Item -->
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
