<div id="fh5co-features" data-section="portfolio">
  <div class="container">
    <div class="row row-bottom-padded-sm">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">{{sectionName[language]}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="height: 538px;">
        <ngx-image-viewer  [src]="images" ></ngx-image-viewer>
      </div>
      <div class="clearfix visible-sm-block visible-xs-block"></div>
    </div>
  </div>
</div>


