<div id="fh5co-testimonials" data-section="education">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate">{{sectionName[language]}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" *ngFor="let education of educations">
        <div class="box-testimony to-animate">
          <blockquote>
            <span class="quote"><span><i class="fa fa-graduation-cap"></i></span></span>
            <ul class="en-lang">
              <li>{{education.degree.faculty[language]}}</li>
              <li>{{education.degree.department[language]}}</li>
            </ul>
            <p><a [href]="education.website.link[language]" class="btn btn-primary btn-sm" style="color:white">
              {{education.website.buttonTitle[language]}}</a></p>
          </blockquote>
          <p class="author" [innerHTML]="education.universityName[language]"></p>
        </div>
      </div>
    </div>
  </div>
</div>


