<div id="fh5co-testimonials" data-section="education">
  <div class="container">
    <div class="row">
      <div class="col-md-12 section-heading text-center">
        <h2 class="to-animate en-lang">Education</h2>
        <h2 class="to-animate ru-lang">Образование</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="box-testimony to-animate">
          <blockquote>
            <span class="quote"><span><i class="fa fa-graduation-cap"></i></span></span>
            <ul class="en-lang">
              <li>Faculty of Computer Science and Technology</li>
              <li>Department of Computer Science and Engineering</li>
              <li>Course: 4</li>
              <li>Group: 4306</li>
            </ul>
            <ul class="ru-lang">
              <li>Факультет компьютерных технологий и информатики</li>
              <li>Кафедра вычислительной техники</li>
              <li>Курс: 4</li>
              <li>Группа: 4306</li>
            </ul>
            <p><a href="http://eltech.ru" class="btn btn-primary btn-sm en-lang" style="color:white">Web site</a></p>
            <p><a href="http://eltech.ru" class="btn btn-primary btn-sm ru-lang" style="color:white">Сайт</a></p>
          </blockquote>
          <p class="author en-lang">Saint-Petersburg Electrotechnical University "LETI"<br/>Bachelor Degree</p>
          <p class="author ru-lang">Санкт-Петербургский Государственный<br/>Электротехнический Университет "ЛЭТИ"<br/>Бакалавр
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
